<%= render "shared/header" %>
<div class="contents">
　<div class="section">
    <div class="customer_title">
      <h1 class="title1">お客様情報一覧</h1>
    </div>
    <div class="customer_link">
      <p class="btn_new">
        <%= link_to "お客様情報を新規登録", new_user_path, class:"btn_01" %>
      </p>
    </div>
    <div class="search_customer">
      <%= form_with(scope: :search, url: search_users_path, method: :get, local: true, class: "search-form") do |f| %>
        <table class="search_table">
         <tbody>
          <tr class="search_left">
            <th>氏名 (漢字):</th>
              <td class="cf">
                <%=f.text_filed :first_name, value: @search_params[:first_name]%>
              </td>
         </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer"%>